
    <h1> Analytics chart</h1>
    <h2 id ="week" Activity in the past week hidden = false></h2>
    <div id = "error" hidden></div>
    <div id="gd"></div>
    <h2 id = "month" Activity in the past month hidden = false></h2>
    <div id = "gd2"></div>
    <h2 id ="year" Activity in the past year hidden = false></h2>
    <div id = "gd3"></div>
    
    
   <a href = "/profile" class="center">Back to Profile</a>
   
<script src = "../public/js/analytics.js"></script>
