
   <h1 title="Analytics chart">Analytics chart</h1>
<h2 id="week" title="Activity in the past week">Activity in the past week</h2>
<div id="error" hidden title="Error message"></div>
<div id="gd" title="Graph for activity in the past week"></div>
<h2 id="month" title="Activity in the past month">Activity in the past month</h2>
<div id="gd2" title="Graph for activity in the past month"></div>
<h2 id="year" title="Activity in the past year">Activity in the past year</h2>
<div id="gd3" title="Graph for activity in the past year"></div>
<a href="/profile" class="center">Back to Profile</a>

<script src="../public/js/analytics.js"></script>
