{{error}}
<form method="POST" action="/recommendation/add" id="newRecForm">
  <label for="workoutName">Workout Name:</label>
  <input type="text" name="workoutName" id="workoutName">
  <br>
  <label for="equipment">Equipment:</label>
  <input type="text" name="equipment" id="equipment">
  <br>
  <label for="duration">Duration:</label>
  <input type="number" name="duration" id="duration" min="1">
  <br>
  <label for="level">Level:</label>
  <select name="level" id="level">
    <option value="beginner">Beginner</option>
    <option value="intermediate">Intermediate</option>
    <option value="advanced">Advanced</option>
  </select>
  <br>
  <label for="reps">Reps:</label>
  <input type="number" name="reps" id="reps" min="1">
  <br>
  <label for="rounds">Rounds:</label>
  <input type="number" name="rounds" id="rounds" min="1">
  <br>
  <label for="tags">Tags:</label>
  <select name="tags" id="tags">
    <option value="Back">Back</option>
    <option value="Chest">Chest</option>
    <option value="Legs">Legs</option>
    <option value="Shoulder">Shoulder</option>
    <option value="Others">Others</option>
  </select>
  <br>
  <button type="submit">Submit</button>
</form>
<div id="error-group-rec" class="error" hidden>I'm an error. I will change through Client-Side JS</div>
<script src="/public/js/recommendation.js"></script>