
<h1> Name:</h1>
<h1> {{name}} </h1>



<h2> About me</h2>
<h3> {{description}}</h3>

<h2> Streaks</h2>
<h3> {{streak}}</h3>

<h2> Goals</h2>
<ul>
    {{#each goals}}
      <li> {{this}} <li>

    {{/each}}
</ul>

<h3>
    <a href = "/profile/edit">Edit Profile</a>
</h3>





