<form method="POST" id="recordForm" enctype="multipart/form-data">
    <label for="postTitle">Post Title</label>
    <br>
    <input name="postTitle" id="postTitle" type="text">
    <br>
    <label for="workoutType">Workout Type</label>
    <br>
    <select name="workoutType" id="workoutType">
        <option value="lifting">lift</option>
        <option value="running">run</option>
        <option value="cycling">bike</option>
        <option value="other">other</option>
    </select>
    <br>
    <label for="postDescription">Workout Description</label>
    <br>
    <textarea name="postDescription" id="postDescription" rows="5" cols="50">Describe the workout!, include things like sets, reps, breaktime etc...</textarea>
    <br>
    <label for="postImgs">Upload Images</label>
    <div id="imgDiv">
    <input name="postImgs[]" id="postImgs" type="file" accept="image/jpg, image/png, image/jpeg">
    <br>
    </div>
    <button type="button" onclick="addImg()">add image</button>
    <button type="button" onclick="removeImg()">remove image</button>
    <br>
    <input id="button" type="submit">
</form>

<script src="/public/js/recordScript.js"></script>
<br><br>
<a href = "/profile">Back to profile</a>