<form method="POST" id="recordForm" enctype="multipart/form-data">
    <label for="postTitle">Post Title</label>
    <input name="postTitle" id="postTitle" type="text">
    <label for="workoutType">Workout Type</label>
    <select name="workoutType" id="workoutType">
        <option value="lifting">lift</option>
        <option value="running">run</option>
        <option value="cycling">bike</option>
        <option value="other">other</option>
    </select>
    <label for="postDescription">Workout Description</label>
    <input name="postDescription" id="postDescription" type="text">
    <label for="postImgs">Upload Images</label>
    <input name="postImgs" id="postImgs" type="file" >
    <label for="postToGroup">Group visibility</label>
    <input name="postToGroup" id="postToGroup" type="text">
    <input id="button" type="submit">
</form>