<form method="POST" id="recordForm" enctype="multipart/form-data">
    <label for="postTitle">Post Title</label>
    <br>
    <input name="postTitle" id="postTitle" type="text" maxlength="40">
    <p id="titleErr" class="error" hidden></p>
    <br>
    <label for="workoutType">Workout Type</label>
    <br>
    <select name="workoutType" id="workoutType">
        <option value="lifting">lift</option>
        <option value="running">run</option>
        <option value="cycling">bike</option>
        <option value="other">other</option>
    </select>
    <p id="typeErr" class="error" hidden>must select a valid workout type</p>
    <br>
    <label for="postDescription">Workout Description</label>
    <br>
    <textarea name="postDescription" id="postDescription" rows="5" cols="50" maxlength="500">Describe the workout!, include things like sets, reps, breaktime etc...</textarea>
    <p id="descErr" class="error" hidden>Must provide a post description with a max of 500 characters</p>
    <br>
    <label for="postImgs">Upload Images</label>
    <div id="imgDiv">
    <input name="postImgs[]" id="postImgs" type="file" accept="image/jpg, image/png, image/jpeg">
    <br>
    </div>
    <p id="imgErr" class="error" hidden>image must be 10mb or less</p>
    <button type="button" onclick="addImg()">add image</button>
    <button type="button" onclick="removeImg()">remove image</button>
    <br>
    <fieldset>
        <legend>Post to group(s)</legend>
        {{#each groups}}
        <label for={{this.id}}>{{this.name}}</label>
        <input type="checkbox" name="postToGroup[]" id={{this.id}} value={{this.id}}>
        {{/each}} 
    </fieldset>
    <input id="button" type="submit">
</form>

<script src="/public/js/recordScript.js"></script>
<br><br>
<a href = "/profile">Back to profile</a>