<article>
    <form action= "/authen/login" method="POST" class="new-login-form">
        <h1>{{title}}</h1>
        <label>
            Your Email
            <input type="email" name = "email" placeholder="e.g. ptrick@stevens.edu"/>
        </label>
        <label>
            Your Password
            <input type="password" name = "password" placeholder="e.g. ilovecs546verymuch"/>
        </label>
        <button type="submit">Login</button>
        <button href="/authen/signup"> Signup </button>
    
    </form>
</article>